{"openapi":"3.0.1","info":{"title":"Kifiya Banking API Developer Challenge","description":"Reference banking API used by the Kifiya **Mobile** and **Web** developer challenges.\n\n### Authentication flow\n1. `POST /api/auth/register` (creates the user and an initial **CHECKING** account) or use a demo user below.\n2. `POST /api/auth/login` returns `accessToken` (valid 10 minutes) and `refreshToken` (valid 24 hours).\n3. Send `Authorization: Bearer <accessToken>` on every other endpoint.\n4. On **401** call `POST /api/auth/refresh-token`; both tokens are rotated. If that also fails, log in again.\n\n### Demo users (available on the hosted API)\n| username | password | notes |\n|---|---|---|\n| `demo.jane` | `Password123!` | CHECKING + SAVINGS accounts with sample history |\n| `demo.john` | `Password123!` | use one of his account numbers as a transfer recipient |\n\nFetch `GET /api/accounts` while logged in as one demo user to discover account numbers.\n\n### Conventions\n* Paged responses have the shape `{ content: [], totalElements, totalPages, size, number, first, last }`; `page` is 0-based, `size` defaults to 10, `sort=field,asc|desc`.\n* Timestamps are ISO-8601 local date-times **in UTC without an offset**, e.g. `2025-06-01T10:30:00.123`.\n* Amounts are decimal numbers with 2 fraction digits.\n* Every error has the shape of `ErrorResponse` with an application `code`:\n\n| code | meaning | HTTP |\n|---|---|---|\n| AUTH_001 | invalid credentials / not authenticated | 401 |\n| AUTH_002 | user not found | 404 |\n| AUTH_003 | username already exists | 400 |\n| AUTH_004 | email already exists | 400 |\n| AUTH_005 | invalid or expired token | 401 |\n| ACC_001 | account not found | 404 |\n| ACC_002 | insufficient funds | 400 |\n| ACC_003 | transfer to the same account | 400 |\n| ACC_004 | account does not belong to the user | 403 |\n| TXN_001 | invalid amount | 400 |\n| TXN_003 | wrong transaction type for this endpoint | 400 |\n| TXN_004 | transaction not found | 404 |\n| VAL_001 | request validation failed | 400 |\n| GEN_001 | unexpected server error | 500 |\n\nBrowser clients are allowed via CORS from the configured origins (`CORS_ALLOWED_ORIGINS`).","contact":{"name":"Kifiya Financial Technology"},"version":"1.1"},"servers":[{"url":"https://challenge-api.qena.dev","description":"Hosted challenge API"},{"url":"http://localhost:8080","description":"Local development"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Authentication","description":"Register, log in and rotate JWT tokens (public)"},{"name":"Transactions","description":"Transaction history retrieval APIs"},{"name":"Accounts","description":"Account management, transfers and bill payments"},{"name":"Accounts","description":"User account management and financial operations"},{"name":"Authentication","description":"User authentication and registration APIs"},{"name":"Users","description":"Profile of the authenticated user"},{"name":"Transactions","description":"Transaction history"}],"paths":{"/api/auth/register":{"post":{"tags":["Authentication"],"summary":"Register a new user","description":"Creates the user and automatically opens an initial CHECKING account with a zero balance. The `passwordHash` field carries the plain password; it is hashed server-side.","operationId":"register","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterRequest"}}},"required":true},"responses":{"201":{"description":"User registered","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegisterResponse"}}}},"400":{"description":"Validation failed (VAL_001), username taken (AUTH_003) or email taken (AUTH_004)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[]}},"/api/auth/refresh-token":{"post":{"tags":["Authentication"],"summary":"Refresh JWT tokens","description":"Exchanges a valid refresh token for a new access token AND a new refresh token (rotation). Clients must replace both stored tokens. Call this when a protected request returns 401.","operationId":"refreshToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshTokenRequest"}}},"required":true},"responses":{"200":{"description":"Tokens refreshed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RefreshTokenResponse"}}}},"401":{"description":"Refresh token invalid or expired (AUTH_005): the user must log in again","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Validation failed (VAL_001) or a business rule was violated (see `code`)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[]}},"/api/auth/login":{"post":{"tags":["Authentication"],"summary":"Log in","description":"Authenticates with username and password (sent in the `passwordHash` field) and returns a short-lived access token plus a refresh token.","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"Login successful","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoginResponse"}}}},"400":{"description":"Validation failed (VAL_001) or a business rule was violated (see `code`)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Invalid username or password (AUTH_001)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[]}},"/api/accounts":{"get":{"tags":["Accounts"],"summary":"List my accounts, or fetch one by account number","description":"Without `accountNumber`: a page of the authenticated user's accounts (`page`, `size`, `sort`, e.g. `sort=balance,desc`). With `accountNumber`: the single matching account, which must belong to the user.","operationId":"getAccounts","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":10}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"},"default":["id,ASC"]}},{"name":"accountNumber","in":"query","description":"Optional: return only the account with this number.","required":false,"schema":{"type":"string","example":1234567890}}],"responses":{"500":{"description":"Unexpected server error (GEN_001)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The account or transaction does not belong to the authenticated user (ACC_004)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Missing, invalid or expired access token (AUTH_001 / AUTH_005). Refresh the token and retry.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Resource not found (AUTH_002 user, ACC_001 account, TXN_004 transaction)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Page of accounts, or a single account when `accountNumber` is given","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/PageAccountResponse"},{"$ref":"#/components/schemas/AccountResponse"}]}}}}}},"post":{"tags":["Accounts"],"summary":"Open an additional account","description":"Creates a new account of the given type for the authenticated user. `initialBalance` defaults to 0.","operationId":"createAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAccountRequest"}}},"required":true},"responses":{"500":{"description":"Unexpected server error (GEN_001)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"201":{"description":"Account created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountResponse"}}}},"401":{"description":"Missing, invalid or expired access token (AUTH_001 / AUTH_005). Refresh the token and retry.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Validation failed (VAL_001) or a business rule was violated (see `code`)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/accounts/transfer":{"post":{"tags":["Accounts"],"summary":"Transfer money to another account","description":"Moves `amount` from `fromAccountNumber` (must be owned by the caller) to `toAccountNumber` (any existing account, e.g. one of the demo users). Records a DEBIT and a CREDIT FUND_TRANSFER transaction; an optional `note` becomes the description of both.","operationId":"transfer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferRequest"}}},"required":true},"responses":{"500":{"description":"Unexpected server error (GEN_001)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Validation failed (VAL_001), insufficient funds (ACC_002), same account (ACC_003) or invalid amount (TXN_001)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The account or transaction does not belong to the authenticated user (ACC_004)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Transfer completed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransferResponse"}}}},"401":{"description":"Missing, invalid or expired access token (AUTH_001 / AUTH_005). Refresh the token and retry.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Resource not found (AUTH_002 user, ACC_001 account, TXN_004 transaction)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/accounts/pay-bill":{"post":{"tags":["Accounts"],"summary":"Pay a bill","description":"Deducts `amount` from `accountNumber` (must be owned by the caller) and records a BILL_PAYMENT transaction.","operationId":"payBill","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BillPaymentRequest"}}},"required":true},"responses":{"500":{"description":"Unexpected server error (GEN_001)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Validation failed (VAL_001), insufficient funds (ACC_002) or invalid amount (TXN_001)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The account or transaction does not belong to the authenticated user (ACC_004)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Bill paid","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BillPaymentResponse"}}}},"401":{"description":"Missing, invalid or expired access token (AUTH_001 / AUTH_005). Refresh the token and retry.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Resource not found (AUTH_002 user, ACC_001 account, TXN_004 transaction)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/users/me":{"get":{"tags":["Users"],"summary":"Get the authenticated user's profile","description":"Returns the profile (name, email, phone) of the user identified by the bearer token. Useful for greetings and profile screens.","operationId":"me","responses":{"500":{"description":"Unexpected server error (GEN_001)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Missing, invalid or expired access token (AUTH_001 / AUTH_005). Refresh the token and retry.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Profile of the current user","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}}}}},"/api/transactions/{accountId}":{"get":{"tags":["Transactions"],"summary":"Transaction history of one of my accounts","description":"Paged history for the account with internal ID `accountId` (not the account number). Newest first by default; override with `sort=timestamp,asc`. Each row carries `type`, `direction` (DEBIT = money out, CREDIT = money in), `amount`, UTC `timestamp`, `description` and, for transfers, `relatedAccount`.","operationId":"getAccountTransactions","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"minimum":0,"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"minimum":1,"type":"integer","default":10}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"},"default":["timestamp,DESC"]}}],"responses":{"500":{"description":"Unexpected server error (GEN_001)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The account or transaction does not belong to the authenticated user (ACC_004)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"Page of transactions (may be empty)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseTransactionResponse"}}}},"401":{"description":"Missing, invalid or expired access token (AUTH_001 / AUTH_005). Refresh the token and retry.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Resource not found (AUTH_002 user, ACC_001 account, TXN_004 transaction)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/accounts/{id}":{"get":{"tags":["Accounts"],"summary":"Get one of my accounts by ID","operationId":"getAccountById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Unexpected server error (GEN_001)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The account or transaction does not belong to the authenticated user (ACC_004)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"The account","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountResponse"}}}},"401":{"description":"Missing, invalid or expired access token (AUTH_001 / AUTH_005). Refresh the token and retry.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Resource not found (AUTH_002 user, ACC_001 account, TXN_004 transaction)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/accounts/transfer/{transactionId}":{"get":{"tags":["Accounts"],"summary":"Get one of my transfer transactions by ID","operationId":"getTransferDetails","parameters":[{"name":"transactionId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Unexpected server error (GEN_001)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"The account or transaction does not belong to the authenticated user (ACC_004)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"The transaction is not a FUND_TRANSFER (TXN_003)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Missing, invalid or expired access token (AUTH_001 / AUTH_005). Refresh the token and retry.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"The transfer transaction","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransactionResponse"}}}},"404":{"description":"Resource not found (AUTH_002 user, ACC_001 account, TXN_004 transaction)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/accounts/pay-bill/{transactionId}":{"get":{"tags":["Accounts"],"summary":"Get one of my bill payment transactions by ID","operationId":"getBillPaymentDetails","parameters":[{"name":"transactionId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Unexpected server error (GEN_001)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"The bill payment transaction","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransactionResponse"}}}},"403":{"description":"The account or transaction does not belong to the authenticated user (ACC_004)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Missing, invalid or expired access token (AUTH_001 / AUTH_005). Refresh the token and retry.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Resource not found (AUTH_002 user, ACC_001 account, TXN_004 transaction)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"The transaction is not a BILL_PAYMENT (TXN_003)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"RegisterRequest":{"required":["firstName","lastName","passwordHash","phoneNumber","username"],"type":"object","properties":{"username":{"maxLength":50,"minLength":3,"type":"string","description":"User's unique username","example":"newuser"},"passwordHash":{"maxLength":2147483647,"minLength":6,"type":"string","description":"User's password","example":"securepassword"},"firstName":{"type":"string","description":"User's first name","example":"Jane"},"lastName":{"type":"string","description":"User's last name","example":"Doe"},"email":{"type":"string","description":"User's unique email address (optional)","example":"john.doe@example.com"},"phoneNumber":{"pattern":"^\\+?[0-9. ()-]{7,25}$","type":"string","description":"User's phone number","nullable":true,"example":"+1234567890"}},"description":"Request DTO for user registration"},"ErrorResponse":{"required":["code","error","message","path","status","timestamp"],"type":"object","properties":{"timestamp":{"type":"string","description":"UTC time the error was produced (ISO-8601, no offset)","example":"2025-06-01T10:30:00.123456"},"status":{"type":"integer","description":"HTTP status code","format":"int32","example":400},"error":{"type":"string","description":"HTTP reason phrase","example":"Bad Request"},"code":{"type":"string","description":"Application error code. AUTH_xxx authentication/user, ACC_xxx account, TXN_xxx transaction, VAL_001 request validation, GEN_001 unexpected error.","example":"ACC_002"},"message":{"type":"string","description":"Human readable, actionable message","example":"Insufficient balance in account 1000000001."},"path":{"type":"string","description":"Request path","example":"/api/accounts/transfer"}},"description":"Standard error payload returned by every failing request"},"RegisterResponse":{"required":["initialAccountNumber","message","userId","username"],"type":"object","properties":{"message":{"type":"string","description":"Success message","example":"User newuser registered successfully!"},"username":{"type":"string","description":"Registered username","example":"newuser"},"userId":{"type":"integer","description":"Unique ID of the registered user","format":"int64","example":3},"initialAccountNumber":{"type":"string","description":"Initial account number generated for the user","example":"1234567890"}},"description":"Response DTO for successful registration"},"RefreshTokenRequest":{"required":["refreshToken"],"type":"object","properties":{"refreshToken":{"type":"string","description":"JWT Refresh Token","example":"eyJhbGciOiJIUzI1Ni..."}},"description":"Request DTO for refreshing access token using refresh token"},"RefreshTokenResponse":{"required":["accessToken","message","refreshToken"],"type":"object","properties":{"message":{"type":"string","description":"Success message","example":"Tokens refreshed successfully!"},"accessToken":{"type":"string","description":"New JWT Access Token","example":"eyJhbGciOiJIUzI1Ni..."},"refreshToken":{"type":"string","description":"New JWT Refresh Token (rotated)","example":"eyJhbGciOiJIUzI1Ni..."}},"description":"Response DTO for successful token refresh"},"LoginRequest":{"required":["passwordHash","username"],"type":"object","properties":{"username":{"type":"string","description":"User's unique username","example":"user1"},"passwordHash":{"type":"string","description":"User's password","example":"password"}},"description":"Request DTO for user login"},"LoginResponse":{"required":["accessToken","message","refreshToken","userId","username"],"type":"object","properties":{"message":{"type":"string","description":"Success message","example":"Login successful for user: user1"},"username":{"type":"string","description":"Authenticated username","example":"user1"},"userId":{"type":"integer","description":"Unique ID of the authenticated user","format":"int64","example":1},"accessToken":{"type":"string","description":"JWT Access Token for API calls","example":"eyJhbGciOiJIUzI1Ni..."},"refreshToken":{"type":"string","description":"JWT Refresh Token for renewing access token","example":"eyJhbGciOiJIUzI1Ni..."}},"description":"Response DTO for successful login"},"CreateAccountRequest":{"required":["accountType","initialBalance"],"type":"object","properties":{"accountType":{"type":"string","description":"Type of the new account (e.g., CHECKING, SAVINGS)","example":"SAVINGS","enum":["CHECKING","SAVINGS","MONEY_MARKET","INDIVIDUAL_RETIREMENT_ACCOUNT","FIXED_TIME_DEPOSIT","SPECIAL_BLOCKED_ACCOUNT"]},"initialBalance":{"minimum":0.00,"exclusiveMinimum":false,"type":"number","description":"Initial balance for the new account","example":50.0}},"description":"Request DTO for creating a new account"},"AccountResponse":{"required":["accountNumber","accountType","balance","id","userId"],"type":"object","properties":{"id":{"type":"integer","description":"Unique ID of the account","format":"int64","example":1},"accountNumber":{"type":"string","description":"Account number","example":"1234567890"},"balance":{"type":"number","description":"Current balance of the account","example":1000.0},"userId":{"type":"integer","description":"ID of the user who owns this account","format":"int64","example":1},"accountType":{"type":"string","description":"Type of the account (e.g., CHECKING, SAVINGS)","example":"CHECKING","enum":["CHECKING","SAVINGS","MONEY_MARKET","INDIVIDUAL_RETIREMENT_ACCOUNT","FIXED_TIME_DEPOSIT","SPECIAL_BLOCKED_ACCOUNT"]}},"description":"Response DTO for account details"},"TransferRequest":{"required":["amount","fromAccountNumber","toAccountNumber"],"type":"object","properties":{"fromAccountNumber":{"type":"string","description":"Account number from which money will be transferred","example":"1234567890"},"toAccountNumber":{"type":"string","description":"Account number to which money will be transferred","example":"1122334455"},"amount":{"maximum":1000000000.00,"exclusiveMaximum":false,"minimum":0.01,"exclusiveMinimum":false,"type":"number","description":"Amount to be transferred","example":100.5},"note":{"maxLength":140,"minLength":0,"type":"string","description":"Optional note shown as the transaction description on both sides (e.g. 'Rent for September')","nullable":true,"example":"Rent for September"}},"description":"Request DTO for peer-to-peer money transfer"},"TransferResponse":{"required":["amount","fromAccountNumber","message","toAccountNumber"],"type":"object","properties":{"message":{"type":"string","description":"Success message","example":"Transfer successful."},"amount":{"type":"number","description":"Amount transferred","example":100.5},"fromAccountNumber":{"type":"string","description":"Source account number","example":"1234567890"},"toAccountNumber":{"type":"string","description":"Destination account number","example":"1122334455"}},"description":"Response DTO for a successful transfer"},"BillPaymentRequest":{"required":["accountNumber","amount","biller"],"type":"object","properties":{"accountNumber":{"type":"string","description":"Account number from which the bill will be paid","example":"0987654321"},"biller":{"type":"string","description":"Name of the biller (e.g., 'Electricity Company')","example":"Internet Provider"},"amount":{"minimum":0.01,"exclusiveMinimum":false,"type":"number","description":"Amount of the bill","example":75.0}},"description":"Request DTO for bill payment"},"BillPaymentResponse":{"required":["accountNumber","amount","biller","message"],"type":"object","properties":{"message":{"type":"string","description":"Success message","example":"Bill payment successful."},"amount":{"type":"number","description":"Amount paid","example":75.0},"accountNumber":{"type":"string","description":"Account number from which bill was paid","example":"0987654321"},"biller":{"type":"string","description":"Name of the biller","example":"Internet Provider"}},"description":"Response DTO for a successful bill payment"},"UserResponse":{"required":["firstName","id","lastName","phoneNumber","username"],"type":"object","properties":{"id":{"type":"integer","description":"Unique ID of the user","format":"int64","example":1},"username":{"type":"string","description":"Username","example":"jane.doe"},"firstName":{"type":"string","description":"First name","example":"Jane"},"lastName":{"type":"string","description":"Last name","example":"Doe"},"email":{"type":"string","description":"Email address, may be null","nullable":true,"example":"jane.doe@example.com"},"phoneNumber":{"type":"string","description":"Phone number","example":"+251911000000"}},"description":"Profile of the authenticated user"},"PageResponseTransactionResponse":{"required":["content","empty","first","last","number","numberOfElements","size","totalElements","totalPages"],"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/TransactionResponse"}},"totalElements":{"type":"integer","description":"Total number of items across all pages","format":"int64","example":24},"totalPages":{"type":"integer","description":"Total number of pages","format":"int32","example":3},"size":{"type":"integer","description":"Requested page size","format":"int32","example":10},"number":{"type":"integer","description":"Zero-based index of this page","format":"int32","example":0},"numberOfElements":{"type":"integer","description":"Number of items on this page","format":"int32","example":10},"first":{"type":"boolean","description":"True when this is the first page"},"last":{"type":"boolean","description":"True when this is the last page"},"empty":{"type":"boolean","description":"True when this page has no items"}},"description":"A page of results"},"TransactionResponse":{"required":["accountId","amount","direction","id","timestamp","type"],"type":"object","properties":{"id":{"type":"integer","description":"Unique ID of the transaction","format":"int64","example":1},"amount":{"type":"number","description":"Amount of the transaction","example":100.0},"type":{"type":"string","description":"Type of transaction (FUND_TRANSFER, BILL_PAYMENT, TELLER_DEPOSIT)","example":"FUND_TRANSFER","enum":["FUND_TRANSFER","TELLER_TRANSFER","ATM_WITHDRAWAL","TELLER_DEPOSIT","BILL_PAYMENT","ACCESS_FEE","PURCHASE","REFUND","INTEREST_EARNED","LOAN_PAYMENT"]},"direction":{"type":"string","description":"Direction of transaction (DEBIT, CREDIT)","example":"DEBIT","enum":["DEBIT","CREDIT"]},"timestamp":{"type":"string","description":"Timestamp of the transaction","format":"date-time"},"description":{"type":"string","description":"Description of the transaction","nullable":true,"example":"P2P Transfer to 1122334455"},"relatedAccount":{"type":"string","description":"Related account number for transfers (sender/recipient)","nullable":true,"example":"1122334455"},"accountId":{"type":"integer","description":"ID of the account associated with this transaction","format":"int64","example":1},"balanceAfter":{"type":"number","description":"Account balance right after this transaction. Absent for transactions recorded before this field existed.","nullable":true,"example":8390.0}},"description":"Response DTO for transaction details"},"PageAccountResponse":{"required":["content","empty","first","last","number","numberOfElements","size","totalElements","totalPages"],"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/AccountResponse"}},"totalElements":{"type":"integer","format":"int64","example":2},"totalPages":{"type":"integer","format":"int32","example":1},"size":{"type":"integer","description":"Requested page size","format":"int32","example":10},"number":{"type":"integer","description":"Zero-based page index","format":"int32","example":0},"numberOfElements":{"type":"integer","format":"int32","example":2},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}},"description":"A page of accounts"}},"securitySchemes":{"bearerAuth":{"type":"http","description":"Paste the `accessToken` returned by `/api/auth/login`.","name":"bearerAuth","in":"header","scheme":"bearer","bearerFormat":"JWT"}}}}